body {
    background-color: black;
    color: #000;
    font-family: Georgia, sans-serif;
}


.white-bg {
    background-color: white;
}

#peliculas-container {
    color: black;
}
#peliculas-container img {
        max-width: 100%;
    }

    #peliculas-container p {
        text-align: center;
        color: black; /* Cambia el color del texto a negro */
    }

#peliculas-container {
    display: flex;
    justify-content: space-between; 
}


#peliculas-container-segunda-fila {
    display: flex;
    justify-content: space-between; 
}

.img-zoom {
    transition: transform 0.2s; 
}
.img-zoom:hover {
        transform: scale(1.1); 
    }
#peliculas-container-segunda-fila p {
    text-align: center;
}